### Creating a text file with "filepath,x1,y1,x2,y2,class_name" format for each bounding box

In [1]:
import os
import pandas as pd
import numpy as np
import shutil
import csv

In [2]:
# Reading annotation.csv
annot_df=pd.read_csv("annotations.csv",header=None)
annot_df.head()

                                                   0    1    2    3    4  5
0  C:/Users/35841/rcnn/images_annotation/annots/t...  377  236  476  331  n
1  C:/Users/35841/rcnn/images_annotation/annots/t...  393  354  489  459  n
2  C:/Users/35841/rcnn/images_annotation/annots/t...  102  140  248  328  n
3  C:/Users/35841/rcnn/images_annotation/annots/t...   79  308  267  407  n
4  C:/Users/35841/rcnn/images_annotation/annots/t...  227   87  361  204  n

In [4]:
annot_df[0]=annot_df[0].str.replace("C:/Users/35841/rcnn/images_annotation/annots/","")
cross_labelled=annot_df[annot_df[5]=="c"]
cross_labelled= cross_labelled.reset_index(drop=True)
cross_labelled.head()

                0    1    2    3    4  5
0  train_1004.png   13    1  145  106  c
1  train_1004.png  168   42  271  146  c
2  train_1004.png  131  177  257  261  c
3  train_1004.png    1  119  107  259  c
4  train_1016.png  213  191  428  407  c

In [5]:
data = pd.DataFrame()
data['format'] = cross_labelled[0]
data.head()

           format
0  train_1004.png
1  train_1004.png
2  train_1004.png
3  train_1004.png
4  train_1016.png

In [6]:
data.head()

           format
0  train_1004.png
1  train_1004.png
2  train_1004.png
3  train_1004.png
4  train_1016.png

In [7]:
# As the images are in train_images folder, add train_images before the image name
for i in range(data.shape[0]):
    data.iloc[i,0]='train_images/' + data.iloc[i,0]
data.head()

                        format
0  train_images/train_1004.png
1  train_images/train_1004.png
2  train_images/train_1004.png
3  train_images/train_1004.png
4  train_images/train_1016.png

In [8]:
# Add xmin, ymin, xmax, ymax and class as per the format required and write into annotate.txt
for i in range(data.shape[0]):
    #print(data.iloc[i,0]+str(data.iloc[i,0]))
    data.iloc[i,0] =  data.iloc[i,0] + ',' + str(cross_labelled.iloc[i,1]) + ',' +  str(cross_labelled.iloc[i,2]) + ',' + str(cross_labelled.iloc[i,3])+ ',' +  str(cross_labelled.iloc[i,4]) + ',' + str(cross_labelled.iloc[i,5])

data.to_csv('annotate.txt', header=None, index=None, sep=' ')

In [9]:
data.shape

(1204, 1)